body {
    background-color: black;
    color: white;
}

body,figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure {
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.1));
    display: flex;
    gap: 0.8rem;
    padding: 0.8rem;
    width: 600px;
    height: fit;
    height: fit-content;
    border: solid 2pt white;
    border-radius: 20px;
}

/* criando animação combinando SVG com keyframes e animation no CSS*/
@keyframes right {
    from {
        right: 0;
    }
    to {
        right: -800px;
    }
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -800px;
    }
}

.box {
    background-image: linear-gradient(to top, black, gray);
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
}

.box img:nth-child(1) {
    max-height: 250px;
    position: absolute;
    bottom: 0;
    z-index: 999;
    animation: right 3s linear infinite alternate;
}

.box img:nth-child(2) {
    max-height: 250px;
    position: absolute;
    animation: left 3s linear infinite alternate;
}