body {
    background-color: black;
    color: white;
}

body,figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure {
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.2), rgba(128, 128, 128, 0.1));
    display: flex;
    gap: 0.8rem;
    padding: 0.8rem;
    width: 600px;
    height: fit;
    height: fit-content;
    border: solid 2pt white;
    border-radius: 20px;
}