body {
    background-color: black;
    color: white;
}

body,figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
    height: 500px;
}

