body {
    background-color: black;
}

.line {
    width: 100%;
    height: 32px;
    margin: 16px;
    border-radius: 32px;
    background-color: yellow;
    transition-property: width, background-color;
    transition-duration: 1s;
}

body:hover .line {
    width: 50px;
    background-color: red;
    transition-property: width, background-color;
}

ease {
    transition-timing-function: ease;
}

linear {
    transition-timing-function: linear;
}

ease-in {
    transition-timing-function: ease-in;
}

ease-out {
    transition-timing-function: ease-out;
}

ease-in-out {
    transition-timing-function: ease-in-out;
}

cubic-bezier {
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}