body {
    background-color: black;
}

#bubble {
    height: 150px;
    width: 150px;
    background-color: blue;
    margin: 0px auto;
    margin-top: 64px;
    border-radius: 100%;
    transition-property: background-color, width, height; // propriedades a observar a transição
    transition-duration: 1s; // duração da transição completa
    transition-delay: 1s;    // tempo até começar a transição
}

#bubble:hover {
    transition-property: background-color, width, height;
    background-color: red;
    height: 200px;
    width: 200px;
    transition-duration: 1s;
}