* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.pexels.com/photos/220072/pexels-photo-220072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.box {
    width: 32rem;
    height: 24rem;
    border-radius: 12px;
}
  
.glassmorphism {
    background-image: radial-gradient(
      rgba(0, 128, 0, 0.6),
      rgba(128, 128, 128, 0.6)
    );
    opacity: 0.6;
    backdrop-filter: blur(
      12px
    );
    border: 1px solid rgba(255, 255, 255, 0.3);
}